/* light-theme */
.light-theme, .light-theme::backdrop {
	--border-color: #3232321f;
	--border-color-not-active:var(--bg1);
	--active-text-color: #000;
	--inactive-text-color: #b7b7b7;
	--bg1: rgba(255, 255, 255, 0.59);
	--bg-head: #b9b9b92e;
	--bg-head-not-active:  var(--bg1);
	--bg2: #c1c1c1;

	--top-menu-main-menu-item-background: #00000014;
	--element-active-background: #ffca009c;
	--input-background: #d5d5d5;
	--input-background-focus: #f0f0f0;
	--button-ok-bg-color: #539ac5;
	--button-ok-bg-color-hover: #539ac5;
	--content-bg-logo: url("/img/logo.png");
	--color: #080808;
	--menu-logo: url("/img/favicon-32x32.png");
	background-color: #ffea0008;
	--table-head-bg: #ddebff;
	--table-1-bg: #f6f6f65e;
	--table-2-bg: #e2e2e261;
}
