/* light-theme */
.light-theme {
	--border-color: #9f9f9f;
	--active-text-color: #000;
	--inactive-text-color: #b7b7b7;
	--bg1: #ffffffbd;
	--bg2: #c1c1c1;

	--top-menu-main-menu-item-background: #00000014;
	--top-menu-sub-menu-item-background: #ffca009c;
	--input-background: #d5d5d5;
	--input-background-focus: #f0f0f0;
	--button-ok-bg-color: #539ac5;
	--button-ok-bg-color-hover: #539ac5;
	--content-bg-logo: url("/img/logo.png");
	--color: #080808;
	--menu-logo: url("/img/favicon-32x32.png");
	background-color: #fffde7;
}
