/* dark-theme */
.dark-theme ,.dark-theme::backdrop{
	--border-color: #3232327d;
	--bg1: #121212c2;
	--bg-head: #252525a3;
	--bg2: #181818;
	--active-text-color: #fff;
	--inactive-text-color: #4b4b4b;
	--top-menu-main-menu-item-background: #29292954;
	--element-active-background: #04395d;
	--input-background: #1e1e1e;
	--input-background-focus: #141414;
	--button-ok-bg-color: #005488;
	--content-bg-logo: url(/img/logo-dark.png);
	--menu-logo: url(/img/favicon-32x32-dark.png);
	background-color: #000008;
	--color: #dbdbdb;
}
