#userLoginForm {
  font-size: 1.3em;
}
#userLoginForm.error {
  animation: horizontal-shaking 0.5s linear alternate;
}
#userLoginForm input {
  width: 100%;
  margin-bottom: 0.5em;
}
#userLoginForm button {
  background-color: var(--button-ok-bg-color);
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: 1px solid #4080a6;
}
#userLoginForm button:hover {
  background-color: #013366;
}
