@media only screen and (max-width: 768px) {
    :root {
        --menu-width: 768;
   }
    #main {
        --media-width: 768;
   }
    #main #content {
        position: relative;
        height: 95.38vh;
        overflow: auto;
        width: 100vw;
   }
    #main footer {
        font-size: 1.75em;
        height: 2.5rem;
   }
    #main footer .copyright {
        width: 33%;
        font-size: 0.6em;
   }
    #main footer #running i {
        padding: 5px;
        font-size: 0.7em;
   }
}
