@media only screen and (max-width: 768px) {
    :root {
        --menu-width: 768;
   }
    [name="main"] {
        --media-width: 768;
   }
    [name="main"] #content {
        position: relative;
        height: 95.38vh;
        overflow: auto;
        width: 100vw;
        top: 45px;
   }
    [name="main"] footer {
        font-size: 1.75em;
        height: 2.5rem;
   }
    [name="main"] footer .copyright {
        width: 33%;
        font-size: 0.6em;
   }
    [name="main"] footer #running i {
        padding: 5px;
        font-size: 0.7em;
   }
}
