#selectEnvironmentForm {
    z-index: 1;
    font-size: 1.3em;

    #environment {
        width: 100%;
        margin-bottom: 0.5em;
    }

    button {
        background-color: var(--button-ok-bg-color);
        padding: 10px;
        cursor: pointer;
        width: 100%;
        border: 1px solid #4080A6;

        &:hover {
            background-color: #013366;
        }
    }
}