[name="page-login"] [name="animated-logo"]{    
    position: absolute;
	top: 25vh;
	left: 50vw;
	transform: translateY(-50%) translateX(-50%);
    opacity: 0.5;
}

[name="page-login"] [name="title"]{    
    position: absolute;
    font-size: 25px;
    height: 10px;
    width: auto;
	top: 30vh;
	left: 50vw;
	transform: translateY(-50%) translateX(-50%);
    opacity: 0.5;
}

[name="page-login"] [name="title"] .selected{    
    color:rgb(245, 123, 53);
}