/**
 * @author Volodymyr Cherniyevskyy
 * @copyright bra1nw0rk.
 * {@link https://github.com/bra1nw0rk-com/hcj GitHub}.
 * {@link https://www.linkedin.com/in/volodymyr-cherniyevskyy-24962b22b LinkedIn}
 **/
[name="box-manager"]{
    position: absolute;
    min-height: 15%;
    max-height: 80%;
    min-width: 25%;
    max-width: 80%;
    top: 50vh;
    left: 50vw;
    z-index: 5;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--bg1);
}
[name="box-manager"]::before{
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
}
[name="box-manager"] > h2 {
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
}
[name="box-manager"] > .content{
    margin-top: 30px;
    display: flex;
}
[name="box-manager"] > .content [miniature-id]{
    position: relative;
    display: block;
    zoom: 60%;
    top: unset;
    left: unset;
    margin: 2px;
}
[name="box-manager"] > .content [miniature-id]:hover::after, [name="box-manager"] > .content [miniature-id].active::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #ff88000f;
    z-index: -1;
}
