/**
 * @author Volodymyr Cherniyevskyy
 * @copyright bra1nw0rk.
 * {@link https://github.com/bra1nw0rk-com/hcj GitHub}.
 * {@link https://www.linkedin.com/in/volodymyr-cherniyevskyy-24962b22b LinkedIn}
 **/
[name="box-manager"]{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50vh;
    left: 50vw;
    z-index: 5;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--bg1);
}
[name="box-manager"] h2 {
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
}