/**
 * @author Volodymyr Cherniyevskyy
 * @copyright bra1nw0rk.
 * {@link https://github.com/bra1nw0rk-com/hcj GitHub}.
 * {@link https://www.linkedin.com/in/volodymyr-cherniyevskyy-24962b22b LinkedIn}
 **/
[name="aboutModal"] .strong{
    font-weight: bold;
    font-size: 110%;
}

[name="aboutModal"] .selected {
    color: rgb(245, 123, 53);
}