#about {
    .header {}

    .header .logo {
        display: inline-block;
        vertical-align: middle;
        background-image: var(--content-bg-logo);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        height: 14px;
        width: 36px;
    }
}