[name="notification-icon"]{
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    display: inline-block;
    font-size: 16px;
}
[name="notification-icon"] .fa-bell-o,[name="notification-icon"] .fa-bell{
    padding-top: 3px;
}