/**
 * @author Volodymyr Cherniyevskyy
 * @copyright bra1nw0rk.
 * {@link https://github.com/bra1nw0rk-com/hcj GitHub}.
 * {@link https://www.linkedin.com/in/volodymyr-cherniyevskyy-24962b22b LinkedIn}
 **/
[name="close-btn"]{
    position: absolute;
    right: 5px;
    font-size: 16px;
    top: 3px;
    color: #ff0000;
    opacity: 0.2;
}
[name="close-btn"]:hover{
    opacity: 0.6;
}