/**
 * @author Volodymyr Cherniyevskyy
 * @copyright bra1nw0rk.
 * {@link https://github.com/bra1nw0rk-com/hcj GitHub}.
 * {@link https://www.linkedin.com/in/volodymyr-cherniyevskyy-24962b22b LinkedIn}
 **/
[name="minimize-btn"]{
    position: absolute;
    right: 22px;
    font-size: 11px;
    top: 6px;
    color: #ff8400;
    opacity: 0.2;
}
[name="minimize-btn"]:hover{
    opacity: 0.6;
}